<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block icon %}
        <link rel="icon" type="image/png" href="../../imagenes/l3.png" />
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap2.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <title>Conciencia Fonologica</title>
    <script src="../../jss/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/bootstrap2.css">
    

    <style>
        nav div ul li a{
            color: #effff8;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0.5em 1.7em;
            padding: 0.3em;
        }
        nav{
            background-color: #FFC90E;
            border-radius: 0.5em;
        }
        nav div ul li div a{
            color: #385a8a;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding: 0.5em 1em;
            margin: 0.5em 0.1em;

        }
        html body nav {
            background-color: #088A4B;
            color:#000;
            text-align: right;
            margin: 0.5em;
        }
        img{
            height: 10em;
            width: 15em;

        }

    </style>
    <style rel="stylesheet">
        SECTION {
            padding: 0.3em;
            background-color: #f0f0f0;
            overflow: auto;
        }
        SECTION > DIV {
            float: left;
            padding: 0.3em;
            display: inline-block;
        }
        SECTION > DIV + DIV {
            width: 4em;
            text-align: center;
        }
        .nav-link{
            color:#000;

        }
    </style>
    {% block css %}
        <style>
            body{
                background-image: url("../../imagenes/33.jpg");

            }

            .l3{
                height: 10em;
                width: 10em;
            }
        </style>


    {% endblock %}
    <style>
        .btn-success {
            border-radius: 5em;
            margin-right: 2em;
            margin-left: 1em;
        }
        section{
            border-radius: 2em;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    {% block imgnav %}
        <img src="../imagenes/l3.png" class="img-fluid l3" alt="Responsive image">
    {% endblock %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link btn btn-success btn-block" href="{{ 'user/index' | url }}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-success btn-block" href="{{ 'user/docente/datos' | url }}">Mis Datos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-success btn-block" href="{{ 'user/academico/registro_manual' | url }}">Registro Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-success btn-block" href="{{ 'user/academico/lista' | url }}">Selección Alumnos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-success btn-block" target="_blank" onclick="FullScreen(window.open({{ 'user/actividad/actividad' | url }}, this.target, 'fullscreen=yes, scrollbars=auto')); return false;" href="{{ 'user/actividad/actividad' | url }}">Actividades</a>
            </li>
            <li class="nav-item "><a class="nav-link btn btn-success btn-block" href="{{ 'auth/logout' | url }}">Cerrar Sesion</a></li>
        </ul>

    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
{% block js %}

{% endblock %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>